:root {
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
    --font-size: 15px;
    --font-family: 'Montserrat', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: 600;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

main {
    min-height: 100vh;
    text-align: center;
    padding: 2.5rem;
}

.title {
    color: var(--dark-grayish-blue);
    font-size: 1.9rem;
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-switch {
    margin: 0 1rem;
    color: var(--grayish-blue);
    font-size: .8rem;
}

.label {
    display: flex;

    /* Rounded border */
    border-radius: 9999px;

    /* Size */
    height: 25px;
    width: 40px;
}

.label:not(:checked) {
    /* OFF status */
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.label:checked {
    
    background-color: #357edd;
    border: 1px solid #357edd;
    /* Push the circle to the right */
    justify-content: flex-end;
}

.label__input {
    /* Hide the input */
    display: none;
}

.label__circle {
    /*Roundedborder*/
    border-radius: 9999px;
    
    /*Size*/
    width: 23px;
    background-color: #fff;
    
    /*OFFstatus*/
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
}

.column {
    margin-top: 2rem;
    border: 1px solid red;
    padding: 2rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
